.footer{
    // display: flex;
    background-color: black;
    text-align: center;
    // height: 10vh;
    color: white;
    padding: 3rem;
    
    p{
        text-align: center;
        color: #2faaed;
    }
}